<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baogong.dao.logTask.DatabaseDao">
    <update id="updateIp">
        update databaseInfo set ip=#{ip}
    </update>
    <update id="updatePort">
        update databaseInfo set port=#{port}
    </update>
    <update id="updateDatabaseName">
        update databaseInfo set databaseName=#{databaseName}
    </update>
    <update id="updateUserName">
        update databaseInfo set userName=#{userName}
    </update>
    <update id="updatePassword">
        update databaseInfo set password=#{password}
    </update>
    <select id="findDatabaseInfo" resultType="com.baogong.pojo.DatabaseInfo">
        select * from databaseInfo
    </select>

    <select id="findAllDatabaseTBInfo" resultType="com.baogong.pojo.DatabaseTBinfo">
        select * from DatabaseTB
    </select>
</mapper>
